<div class="main-div">
    <mat-card class="back">
      <mat-card-content >
        <div class="email-container">
          <mat-form-field class="input-size">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="email" [formControl]="email" required minlength="5" >
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div>
            <div class="username-container">
              <mat-form-field class="input-size">
                <mat-label>Enter your username</mat-label>
                <input matInput placeholder="username"  required minlength="5" [(ngModel)]="username">
              </mat-form-field>
        </div>
        <div class="password-container" >
          <mat-form-field class="input-size">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required minlength="7">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="signup-button-div">
            <button (click)="signup()"
            class="signup-button" mat-raised-button color="accent">Signup</button>
        </div>  
        </div>
      </mat-card-content>
    </mat-card>
  </div>